
.jr-leftSidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .ant-layout-has-sider {
    .jr-leftSidebarSidebar {
      padding-top: 10px;
      height: 100vh;
      background: rgb(7, 71, 166);
      max-width: 64px !important;
      min-width: 64px !important;
      
      .logo>svg {
        margin: 0.5rem auto;
      }

      &:hover {
        max-width: 200px !important;
        box-shadow: rgb(0 0 0 / 60%) 0px 0px 50px 0px
      }
      .jr-leftSidebarMenu{
        background: rgb(7, 71, 166);



        .ant-menu-item-selected {
          background-color: rgb(244, 245, 247) !important;
          span {
            color: rgb(7, 71, 166)
          }
        }
      }

      .ant-menu-item {
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          cursor: pointer;
        }
      }

      .ant-menu-item span {
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
      }
      .ant-menu-item:nth-last-child(-n+1) {
        position: absolute;
        bottom: 0px;
      }
    }
  }
}